.accordion__section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.accordion__section h5 {
    display: flex;
    align-items: center;
}

.accordion__section ul {
    list-style: none;
    margin-top: 5px;
}

.accordion__section ul li {
    list-style: none;
    padding: 10px;
    text-decoration: none;  

}

.accordion__section ul li a {
    text-decoration: none;
    text-align: right;
    color: #000;
    font-size: 1.2rem;
}

.accordion__section ul li a:hover {
    color: rgb(233, 45, 45);
}


