

.carousel-item {
  height: 260px;
}

.carousel-caption  {
  color: black; 
  margin-bottom: 30px;
}


/* ================ media queries ==================*/

@media  only screen and (max-width: 576px) {
  .carousel-item {
    height: 180px;
  }

  .carousel-caption  {
    margin-bottom: 10px;
  }
}
