.filter__section{
    margin-top: 6rem;
}

.title__section {
    color: blue;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.sort__section {
    color: rgb(2, 2, 14);
    padding: 10px;
    display: flex;
    align-items: center;
}

.sort__selectors {
   display: flex;
   align-items: center;
   gap: 1rem
   ;
}

.sort__selectors ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 1rem;
}

.sort__selectors ul li:hover {
    cursor: pointer;
}

.show__section {
    margin-bottom: 1rem;
}