.filter__section{
    background-color: aqua;
}

.row.show__section {
    margin-top: 2rem;
}

.title__section {
    color: blue;
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

.sort__section {
    color: blue;
    background-color: rgb(77, 119, 119);
    display: flex;
    align-items: center;
}

