
/*=======  google fonts ========*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

/*======== Farsi fonts =======*/
@font-face {
    font-family: 'Vazir';
    src: local('Vazir'), url(./fonts/Vazir.ttf) format('truetype');
  }

/*=======  base style ========*/

*{
    
    font-family: 'Source Sans Pro', sans-serif, Vazir;
}

/*======== pre-define css ======*/





